{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
    <header>
        <h1 id="MayOpsStyles1">About Me</h1>
        <div class="col-md-8">
            <div class="media">
                <div>
                    <img src="{% static '/homepage/me2.jpg' %}">
                    <br>
                    <br>
                </div>
            <div class="media-body">
        </div>
    </header>
    <body>
        <div>
            <p id="MayOpsStyles2">
              Hi I'm John May. <br>
              In early 2020 I discovered coding while browsing Reddit.
              After watching a few videos and completing a few challenges
              at Codewars I was hooked. I've discovered my passion and with
              it a great community from r/learnpython to San Diego Python
              Users Group Meetup. <br>
              I love to learn and I love to create. 
            </p>
        </div>
    </body>
{% endblock content %}



