body {
  background: rgb(41, 41, 41);
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(227, 48, 90);
  font-family:adobe-garamond-pro-n4, adobe-garamond-pro, serif;
  font-size:30px;
  font-style:italic;
  font-weight:400;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: rgb(30, 30, 30);
}

.site-header .navbar-nav .nav-link {
  color: rgb(146, 140, 134);
}

.site-header .navbar-nav .nav-link:hover {
  color: rgb(227, 48, 90);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgb(30, 30, 30);
  padding: 10px 20px;
  border: 1px solid rgb(146, 140, 134);
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: rgb(146, 140, 134);
}

a.article-title:hover {
  color: rgb(227, 48, 90);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: rgb(146, 140, 134);
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgb(238, 237, 235);
}

.article-metadata a:hover {
  color: rgb(227, 48, 90);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.text-muted {
    color: rgb(146, 140, 134)!important;
    font-weight:700;
    font-family:adobe-garamond-pro-n4, adobe-garamond-pro, serif;
    font-weight:900;
}


.btn {
  color: rgb(238, 237, 235);
  background-color: rgb(79, 67, 70);
  border-color: rgb(238, 237, 235);
}

.btn:hover {
    color: rgb(227, 48, 90);
    background-color: rgb(79, 67, 70);
    border-color: rgb(227, 48, 90);
}

.btn-info {
    color: rgb(238, 237, 235);
    background-color: rgb(45, 45, 45);
    border-color: color: rgb(238, 237, 235);
}

/*.btn:active {
    color: rgb(238, 237, 235);
    background-color: rgba(79, 67, 70, 0.5);
    border-color: yellow;
}*/

/*.btn:focus{
    background:olive;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #111111;
    border-color: #000000;
}
*/

.list-group-item-light {
    color: rgb(146, 140, 134);
    background-color: rgb(41, 41, 41);
    font-weight:900;
}

a {
    color: rgb(146, 140, 134);
}

.navbar-dark .navbar-brand {
    color: rgb(146, 140, 134);
    font-weight:700;
}

.navbar-dark .navbar-brand:hover {
    color: rgb(146, 140, 134);
}

#MayOpsStyles1{
  /*text-align: center;*/
  color: rgb(227, 48, 90);
  font-family:adobe-garamond-pro-n4, adobe-garamond-pro, serif;
  font-size:50px;
  font-style:italic;
  font-weight:400;
}

#MayOpsStyles2{
  font-family:adobe-garamond-pro-n4, adobe-garamond-pro, serif;
  font-size:33px;
  font-style:italic;
  font-weight:400;
  color: rgb(146, 140, 134);
}

label {
  font-family:adobe-garamond-pro-n4, adobe-garamond-pro, serif;
  font-size:22px;
  font-style:italic;
  font-weight:400;
  color: rgb(146, 140, 134);
}

legend {
  font-family:adobe-garamond-pro-n4, adobe-garamond-pro, serif;
  font-size:22px;
  font-style:italic;
  font-weight:400;
  color: rgb(146, 140, 134);
}

a:hover {
    color: rgb(227, 48, 90);
}

.date{
  color: rgb(227, 48, 90);
  font-weight:700;
  font-family:adobe-garamond-pro-n4, adobe-garamond-pro, serif;
  font-weight:900;
}

.form-control {
    color: #495057;
    background-color: #fff;

.about-me-pic{
  display: block;
  margin-left: auto;
  margin-bottom: 16px;
  width: 50%;
}
